<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">Editing Billing Site: <%= @billing_site.name %></h1>
    <%= link_to '< Back', @billing_site %>
  </div>
</div>

<%= render 'form' %>

<% if false %>
<%= link_to 'Show', @billing_site %> |
<%= link_to 'Back', @billing_site %>
<% end %>



