<% content_for :title, "STEAM — PostGreSQL" %>
<h1>STEAM Benchmarks: Rails/PostGreSQL</h1>
<% if flash[:notice] %>
  <p class="flash-notice"><%= flash[:notice] %></p>
<% end %>

<%=form_tag do %>
<%
  @experiments.each do |experiment|
%>
<p>
    <%=check_box_tag experiment%>
    <%=label_tag experiment%>
</p>
<%  end %>

    <div><%= submit_tag 'Run' %></div>
<% end -%>
