<html lang="en" xmlns="http://www.w3.org/1999/html">
<body>
<section class="container">
  <div class="login">
    <h1>Login to STEAM</h1>
    <%= stylesheet_link_tag "login_stylesheet" %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <form method="post" action="/users/sign_in">
          <p>
            <%= f.email_field :email, autofocus: true, placeholder: "Email", :type => "text" %>
          </p>

          <p>
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
          </p>

          <% if devise_mapping.rememberable? -%>
              <p class="remember_me">
                <label>
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </label>
              </p>
          <% end -%>

          <p class="pull pull-right"><%= f.submit "Log in", class: "btn btn-success" %></p>

        </form>
        <br><br><br><%= render "devise/shared/links" %>
        </div>
    <% end %>


    </section>

</body>
</html>
