<div class="row">
  <div class="col-md-12">
    <h1>Welcome to Retail Plans</h1>
  </div>
</div>

<p>This is the landing page for Retail Plans.</p>
<!-- <p>Please click here to create new <a href="/retail_plans/new">Retail Plan</a> </p> -->

<!-- created by Charlene, testing so far -->
<p>Please click here to create
  <%= link_to 'New Retail Plan', new_billing_site_retail_plan_path(@billing_site) %> 
</p>


<table>
  <thead>
  <tr>
      <th>Retail Plan ID</th>
      <th>Retail Plan Name</th>
      <th>Created</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Edit</th>
      <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <% @retail_plans.each do |retail_plan| %>
  <tr>
      <td><%= retail_plan.id%></td>
    <!-- This line is for the link to retail plan, which is from Billing site-->
      <td><%= link_to retail_plan.name, billing_site_retail_plan_path(retail_plan) %></td>
      <td><%= retail_plan.start_date %></td>
      <td><%= retail_plan.end_date %></td>

      <td><%= link_to "edit", edit_billing_site_retail_plan_path(retail_plan)%></td>
      <td><%= link_to "Delete", billing_site_retail_plan_path(retail_plan), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }%></td>

  </tr>
  <% end %>
  </tbody>
</table>

<%if false%>
    <!-- From FrontEnd Code-->
    <td><%= link_to "edit", edit_retail_plan_path(retail_plan.id, :retail_plan => @retail_plan.billing_site_id)%></td>
    <td><%= link_to "Delete", retail_plan_path(retail_plan.id), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }%></td>

<%end%>